<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  
  <% if (message) { %>
    <p><%= message %></p>
  <% } %>

  <form action="/login" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="aadhar">Aadhaar Card Number:</label>
      <input type="text" id="aadhar" name="aadhar" required>
    </div>
    <button type="submit">Login</button>
  </form>

  <p>
    <h3>New user can register  <a href="/register">here</a></h3>
  </p>
</body>
</html>
